<html>
<title>VUe test</title>
<head>
 <link href="/static/css/main.css" rel="stylesheet">


<script src="/static/js/jquery-3.4.1.min.js"></script>

<script src="/static/js/vue/vue.js"></script>
<script src="/static/js/vue/vue-resource.min.js"></script>
</head>
<body>
<h1> vue test</h1>


<button id="click"> GET Click ajax</button>
<button id="click2"> POST Click ajax</button>
<div id="response_text">
</div>
<div id="response_text2">
</div>

<script>
$('#click').click(function () {
    $.ajax({
        type: 'GET',
        url: '/get_ajax',
        success: function (response) {
            $('#response_text').text(response);
        }
    });
});
</script>


<script>
$('#click2').click(function () {
    var greeting = "{{ greeting|safe }}";
    //alert(greeting);
    $.ajax({
        type: 'POST',
        url: '/post_ajax',
        data: { 'greeting': greeting },
        success: function (response) {
            $('#response_text2').text(response);
        }
    });
});
</script>


</script>



</body>
</html>